target/
projectFilesBackup/
.elasticbeanstalk/
.idea/
.ebextensions/
profiles.clj
.git/
.gitattributes
.gitignore
.vagrant/
corenlpd.log
corenlpd.iml

/target
/lib
/classes
/checkouts
pom.xml
*.jar
*.class
/.lein-*
/.env
*.log
.nrepl-port
.idea

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
